// 换行
%pre {
    white-space: pre-wrap;
    word-break: break-all;
}
// 鼠标手势
%pointer {
    cursor: pointer;
}

// 清除浮动
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// 单行省略
%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 多行省略
@mixin moreline-ellipsis($line: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
