html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
button,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
	color: #333;
	background: #fff;
	position: relative;
	/*字体抗锯齿渲染*/
	/* -moz-osx-font-smoothing: grayscale; */
	/* -webkit-font-smoothing: antialiased; */
	/* text-rendering: optimizeLegibility; */
	/* text-rendering: geometricPrecision; */

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 12px;
	color: #000;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	border: none;
	vertical-align: middle;
}

ol,
ul {
	list-style: none;
}

i {
	font-style: normal;
}

input,
select,
button {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1;
}

textarea {
	font-family: inherit !important;
	font-size: 12px !important;
	font-style: inherit !important;
	font-weight: inherit !important;
	resize: none !important;
	outline: none;
}

input,
button {
	border: none;
	outline: none;
}

iframe {
	border: none;
	height: 100%;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

pre {
	font-family: "Courier New", Courier, monospace;
}

/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

::-webkit-input-placeholder {
	color: #ccc;
}
 */